############################
# Phonegap
############################
platforms/**/
plugins/**/*

############################
# npm
############################
node_modules

############################
# bower.io
############################
bower_components
