
@media (max-width: 320px) {
	body {
		background: url(../../img/iphone-5/background.png);
	}
	.img-home {
		display: block;
		background: url('../../img/iphone-5/img-home.png');
		width: 100%;
		height: 200px;
	}
	// iOS - iPhone 5
	@media (min-height: 568px) {
		#map_canvas {
		  height: 420px;
		  margin-top: 9px;
		}
		#prog {
			.ui-content {
				.page-title {
						margin: 20px 0 50px 15px;
					}
				}
			}
		.ui-content {
		  .page-title {
		    margin: 20px 0 20px 15px;
		    font-size: 2.3em;
		    line-height: 0.65em;
		    small {
		      font-size: 0.65em;
		    }
		    .tiny {
		      font-size: 0.42em;
		      top: 4px;
		    }
		  }
		  .paragraph {
		    font-size: 1.15em;
		    padding: 15px;
		    margin-top: 15px;
		    line-height: 1.5em;
		  }
		}
		.list-step-social {
			.separator {
				width: 8px;
				height: 18px;
				margin-left: 51%;
				margin-top: -4px;
			}
			.step-social {
				height: 82px;
				width: 60%;
				margin-left: 5%;
				p {
					width: 70px;
					font-size: 0.9em;
					line-height: 1.2em;
					padding: 6px;
					border-radius: 6px;
				}
				button {
					width: 80px;
					height: 80px;
					margin: 0!important;
					border-radius: 50%!important;
				}
			}
			.login {
				button {
					font-size: 0.9em;
				}
				p {
					margin-top: 9px;
				}
			}
			.camera-snap {
				button {
					&:hover { }
				}
				p {
					margin-top: 22px;
				}
			}
			.photo {
				button {
					width: 90px;
					height: 90px;
					margin-right: -4px!important;
					margin-top: -20px;
					border-radius: 5px!important;
					padding: 0!important;
					.img-share {
						width: 90px;
						height: 90px;
						margin: 0!important;
						border-radius: 5px;
					}
				}
				p {
					margin-top: 12px;
				}
			}
			.share {
				button {
					font-size: 0.9em;
					&:hover { }
				}
				p {
					margin-top: 21px;
				}
			}
		}
	}

	// iOS - iPhone 4
	@media (max-height: 480px) {
		#social,
		#prog {
			.ui-content {
				.page-title {
						margin: 10px 0 10px 15px;
					}
				}
			}
		.ui-content {
		  .page-title {
		    margin: 5px 0 10px 15px;
		    font-size: 2em;
		    line-height: 0.65em;
		    small {
		      font-size: 0.65em;
		    }
		    .tiny {
		      font-size: 0.42em;
		      top: 4px;
		    }
		  }
		  .paragraph {
		    font-size: 1em;
		    padding: 15px;
		    line-height: 1.5em;
		  }
		}
		#map_canvas {
		  height: 330px;
		  margin-top: 9px;
		}
		.list-step-social {
			.separator {
				width: 8px;
				height: 18px;
				margin-left: 53%;
				margin-top: -12px;
			}
			.step-social {
				height: 82px;
				width: 60%;
				margin-left: 5%;
				p {
					width: 70px;
					font-size: 0.9em;
					line-height: 1em;
					padding: 6px;
					border-radius: 6px;
				}
				button {
					width: 70px;
					height: 70px;
					margin: 0!important;
					border-radius: 50%!important;
				}
			}
			.login {
				button {
					font-size: 0.8em;
				}
				p {
					margin-top: 9px;
				}
			}
			.camera-snap {
				button {
					&:hover { }
				}
				p {
					margin-top: 22px;
				}
			}
			.photo {
				button {
					width: 90px;
					height: 90px;
					margin-right: -10px!important;
					margin-top: -24px;
					border-radius: 5px!important;
					padding: 0!important;
					.img-share {
						width: 80px;
						height: 80px;
						margin: 0!important;
						border-radius: 5px;
					}
				}
				p {
					margin-top: 12px;
				}
			}
			.share {
				button {
					font-size: 0.9em;
					&:hover { }
				}
				p {
					margin-top: 21px;
				}
			}
		}
	}
	
}
