// iOS - iPad 2
@media (min-width: 768px) {
	body {
		background: url(../../img/ipad-2/background.png);
	}
	#map_canvas {
	  height: 826px!important;
	  margin-top: 9px;
	}
	.img-home {
		display: block;
		background: url('../../img/ipad-2/img-home.png');
		width: 100%;
		height: 500px;
	}
	.ui-content {
	  .page-title {
	    margin: 30px 0 40px 25px!important;
	    font-size: 4.5em!important;
	    line-height: 0.65em;
	    small {
	      font-size: 0.65em;
	    }
	    .tiny {
	      font-size: 0.42em;
	      top: 4px;
	    }
	  }
	  .paragraph {
	    font-size: 1.8em!important;
	    padding: 15px;
	    margin-top: 15px!important;
	    line-height: 1.8em!important;
	  }
	}

	.navbar-main-bottom-fixed {
	  position: fixed;
	  bottom: 0;
	  .ui-btn {
	  	width: 170px;
	  	height: 100px;
	  }
	}
	#home {
		.fa-home {
			font-size: 6em;
			margin: 13px 5px 0 0;
		}
	}
	#prog {
		.fa-calendar {
			font-size: 5em;
			margin: 18px 5px 0 0;
		}
	}
	#map {
		.fa-compass {
			font-size: 6em;
			margin: 14px 5px 0 0;
		}
	}
	#social {
		.fa-users {
			font-size: 5.1em;
			margin: 18px 5px 0 0;
		}
	}

	.btn-default {
		font-size: 2em;
		padding: 20px 0 20px 0;
		margin-top: 40px;
		margin-bottom: 40px;
	}
}
