/* IV Mostra App
* v0.1.x
* devices/ios/smartphones.less
*/

// iPhone 5
//------------------------------
@media only screen
and (min-device-width: 320px),
and (max-device-width: 568px),
and (-webkit-min-device-pixel-ratio: 2),
and (min-device-pixel-ratio: 2),
and (orientation: portrait) {
	body {
		background-image: url(../../img/background-320x568@2x.png);
		background-size: 100%;
	}

	// Home
	#one {
		.img-home {
			background-image: url('../../img/img-home-320x285@2x.png');
			height: 13.18em;
		}
		.paragraph {
			font-size: 1.15em;
			padding: 15px;
			margin-top: 15px;
			line-height: 1.5em;
		}
	}

	// Programação
	#prog {
		.ui-content {
			.page-title {
				margin: 20px 0 50px 15px;
			}
		}
	}

	// Mapa
	#maps {
		#map_canvas {
			height: 30.5em;
			margin-top: 0.6em;
		}
	}

	// Social
	#social {
		.list-step-social {
			.login {
				height: 4.5em;
				padding: 0;
				.text {
					width: 65%;
				}
			}
			.camera-snap {
				height: 4.5em;
				margin-bottom: 1em;
			}
			.photo {
				button {
					height: 14em;
				}
			}
			.share {

			}
		}
	}
	.ui-content {
		.page-title {
			margin: 20px 0 20px 15px;
			font-size: 2.3em;
			line-height: 0.65em;
			small {
				font-size: 0.65em;
			}
			.tiny {
				font-size: 0.42em;
				top: 4px;
			}
		}
	}

}



@media (max-width: 320px) {
	// iOS - iPhone 5
	@media (min-height: 568px) {

	}

	// iOS - iPhone 4
	@media (max-height: 480px) {
		#social,
		#prog {
			.ui-content {
				.page-title {
						margin: 10px 0 10px 15px;
					}
				}
			}
		.ui-content {
		  .page-title {
		    margin: 5px 0 10px 15px;
		    font-size: 2em;
		    line-height: 0.65em;
		    small {
		      font-size: 0.65em;
		    }
		    .tiny {
		      font-size: 0.42em;
		      top: 4px;
		    }
		  }
		  .paragraph {
		    font-size: 1em;
		    padding: 15px;
		    line-height: 1.5em;
		  }
		}
		.list-step-social {
			.separator {
				width: 8px;
				height: 18px;
				margin-left: 53%;
				margin-top: -12px;
			}
			.step-social {
				height: 82px;
				width: 60%;
				margin-left: 5%;
				p {
					width: 70px;
					font-size: 0.9em;
					line-height: 1em;
					padding: 6px;
					border-radius: 6px;
				}
				button {
					width: 70px;
					height: 70px;
					margin: 0!important;
					border-radius: 50%!important;
				}
			}
			.login {
				button {
					font-size: 0.8em;
				}
				p {
					margin-top: 9px;
				}
			}
			.camera-snap {
				button {
					&:hover { }
				}
				p {
					margin-top: 22px;
				}
			}
			.photo {
				button {
					width: 90px;
					height: 90px;
					margin-right: -10px!important;
					margin-top: -24px;
					border-radius: 5px!important;
					padding: 0!important;
					.img-share {
						width: 80px;
						height: 80px;
						margin: 0!important;
						border-radius: 5px;
					}
				}
				p {
					margin-top: 12px;
				}
			}
			.share {
				button {
					font-size: 0.9em;
					&:hover { }
				}
				p {
					margin-top: 21px;
				}
			}
		}
	}

}
