
.bar-colors-top {
	height: 4px;
	background: @gray;
	.bar-default {
		width: 60%;	
	}
	.bar-color {
		width: 10%;
		height: 100%;
		display: block;
		float: right;	
	}
	.bar-blue {
		background: @blue;
	}
	.bar-green {
		background: #a4ce3a;
	}
	.bar-orange {
		background: #f69522;
	}
	.bar-red {
		background: #ed2228;
	}
}
