#home {
	.fa-home {
		font-size: 3.4em;
		margin: 2px 5px 0 0;
	}
}
#prog {
	.fa-calendar {
		font-size: 3em;
		margin: 5px 5px 0 0;
	}
}
#map {
	.fa-compass {
		font-size: 3.5em;
		margin: 4px 5px 0 0;
	}
}
#social {
	.fa-users {
		font-size: 2.8em;
		margin: 8px 5px 0 0;
	}
}

.btn-default {
	width: 80%;
	margin-left: 10%;
	background: @gray-light;
	padding: 18px 0 18px 0;
	text-align: center;
	border: 3px solid darken(@gray-light, 15%)!important;
}
.btn-blue {
	background: @blue;
	border: 3px solid darken(@blue, 15%)!important;
	color: @white!important;
	text-shadow: 1px 1px 1px darken(@blue, 10%)!important;
}
.btn-green {
	background: @green;
	border: 3px solid darken(@green, 15%)!important;
	color: @white!important;
	text-shadow: 1px 1px 1px darken(@green, 10%)!important;
}
.btn-orange {
	background: @orange;
	border: 3px solid darken(@orange, 15%)!important;
	color: @white!important;
	text-shadow: 1px 1px 1px darken(@orange, 10%)!important;
}
.btn-purple {
	background: @purple;
	border: 3px solid darken(@purple, 15%)!important;
	color: @white!important;
	text-shadow: 1px 1px 1px darken(@purple, 10%)!important;
}

.img-home {
	border-top: 4px solid @green;
	border-bottom: 4px solid @orange;
}

.btn-route {
	background: @blue!important;
	color: @white!important;
	text-shadow: 1px 1px 1px darken(@blue, 20%)!important;
	width: 300px!important;
	margin-left: 10px;
	background: @gray-light;
	border: none;
	border-radius: 0;
	margin-bottom: 0px;
}
/* Menu: Navbar botom fixed */
.navbar-main-bottom-fixed {
  position: fixed;
  bottom: 0;
  .ui-btn {
  	background: @gray-light;
  	width: 60px;
  	height: 50px;
  }
  .btn-purple-active {
  	background: @purple;
  	text-shadow: 1px 1px 1px darken(@purple, 20%);
  	&:hover {
  		text-shadow: 1px 1px 1px darken(@purple, 20%);
  	}
  }
  .btn-green-active {
  	background: @green;
  	text-shadow: 1px 1px 1px darken(@green, 20%);
  	&:hover {
  		text-shadow: 1px 1px 1px darken(@green, 20%);
  	}
  }
  .btn-orange-active {
  	background: @orange;
  	text-shadow: 1px 1px 1px darken(@orange, 20%);
  	&:hover {
  		text-shadow: 1px 1px 1px darken(@orange, 20%);
  	}
  }
  .btn-red-active {
  	background: #ed2228;
  	text-shadow: 1px 1px 1px darken(#ed2228, 20%);
  	&:hover {
  		text-shadow: 1px 1px 1px darken(#ed2228, 20%);
  	}
  }
  .btn-blue-active {
  	background: @blue;
  	text-shadow: 1px 1px 1px darken(@blue, 20%);
  	&:hover {
  		text-shadow: 1px 1px 1px darken(@blue, 20%);
  	}
  }
}