#home {
	.fa-home {
		font-size: 3.4em;
		margin: 2px 5px 0 0;
	}
}
#prog {
	.fa-calendar {
		font-size: 3em;
		margin: 5px 5px 0 0;
	}
}
#map {
	.fa-compass {
		font-size: 3.5em;
		margin: 4px 5px 0 0;
	}
}
#social {
	.fa-users {
		font-size: 2.8em;
		margin: 8px 5px 0 0;
	}
}