/* IV Mostra App
* v0.1.x
* core/sections.less
*/

.ui-content {
  .page-title {
    font-weight: 500;
    color: darken(@gray, 20%);
    small { }
    .tiny {
      position: relative;
    }
  }
  .paragraph {
    width: 86%;
    font-size: 1.1em!important;
    background: lighten(@gray, 40%);
    padding: 1.1em 2em 1em 0.8em!important;
    border-radius: 10px 0 0 10px;
    margin-top: 2em!important;
    margin-left: 5%;
    text-align: left;
    color: darken(@gray, 20%);
    small {
      margin-top: 0.3em;
    }
    .title {
      font-size: 1.2em!important;
      font-weight: normal;
      margin-bottom: 0.4em;
      strong {
        font-size: 1.3em;
      }
    }
  }
}
