/* IV Mostra App
* v0.1.x
* core/sections.less
*/


// Home
#one {
  .img-home {
    background-size: 100% 100%;
    width: 100%;
    border-top: 2px solid @green;
    border-bottom: 2px solid @orange;
  }
}

// Map
#maps {
  #map_canvas {
    width: 100%;
  }
}

// Programação
#prog {
  .page-title {
    .info {
      width: 90%;
      display: block;
      text-align: left;
      margin-top: 1em;
      font-size: 0.4em;
      line-height: 1.15em;
    }
  }
}
.page-title {
  font-weight: 500;
  color: darken(@gray, 20%);
  small { }
  .tiny {
    position: relative;
  }
}
.paragraph {
  width: 90%;
  font-size: 1.15em!important;
  margin-top: 1.2em!important;
  text-align: left;
  color: darken(@gray, 20%);
  small {
    margin-top: 0.5em!important;
    display: block;
  }
  .title {
    font-size: 1.3em!important;
    font-weight: normal;
    margin-bottom: 0.6em;
    strong {
      font-size: 1.3em;
    }
  }
}

#help-dialog {
  .page-title {
    font-size: 2em;
    text-shadow: none;
  }
}
