.cplogo-icon {
	width: 3em;
	height: 3em;
}

/* Map Canvas */
#map_canvas {
  width: 100%;
}

.img-home {
		display: block;
		background: url('../../img/android-s3/img-home.png');
		width: 100%;
		height: 200px;
	}
.bar-colors-top {
	height: 4px;
	background: @gray;
	.bar-default {
		width: 60%;
		
	}
	.bar-color {
		width: 10%;
		height: 100%;
		display: block;
		float: right;	
	}
	.bar-blue {
		background: @blue;
	}
	.bar-green {
		background: #a4ce3a;
	}
	.bar-orange {
		background: #f69522;
	}
	.bar-red {
		background: #ed2228;
	}
}

// Step social
.list-step-social {
	.separator {
		width: 8px;
		height: 18px;
		margin-left: 51%;
		margin-top: -4px;
		background: @gray-light;
	}
	.step-social {
		height: 82px;
		width: 60%;
		margin-left: 5%;
		display: block;
		p {
			color: @gray;
			width: 70px;
			float: left;
			font-size: 0.9em;
			line-height: 1.2em;
			background: @gray-lighter;
			padding: 6px;
			border-radius: 6px;
			border: 2px solid @gray-light;
			opacity: 0.7;
		}
		button {
			width: 80px;
			height: 80px;
			margin: 0!important;
			border-radius: 50%!important;
			float: right;
			box-shadow: none!important;
		}
	}
	.login {
		button {
			font-size: 0.9em;
			background: #415e9b;
			border: 3px solid #5b73a8!important;
			color: @white!important;
			text-shadow: 1px 1px 1px #263760!important;
		}
		p {
			margin-top: 9px;
		}
	}
	.camera-snap {
		button {
			background: @green;
			border: 3px solid lighten(@green, 20%);
			color: @white;
			text-shadow: 1px 1px 1px darken(@green, 20%);
			&:hover {
				color: @white;
				text-shadow: 1px 1px 1px darken(@green, 20%);
			}
		}
		p {
			margin-top: 22px;
		}
	}
	.photo {
		button {
			width: 90px;
			height: 90px;
			margin-right: -4px!important;
			margin-top: -20px;
			border: 2px solid @gray-light;
			border-radius: 5px!important;
			padding: 0!important;
			background: @gray-lighter;
			.img-share {
				width: 90px;
				height: 90px;
				margin: 0!important;
				border-radius: 5px;
			}
		}
		p {
			margin-top: 12px;
		}
	}
	.share {
		button {
			background: @orange;
			border: 3px solid lighten(@orange, 20%);
			color: @white;
			text-shadow: 1px 1px 1px darken(@orange, 20%);
			font-size: 0.9em;
			&:hover {
				color: @white;
				text-shadow: 1px 1px 1px darken(@orange, 20%);
			}
		}
		p {
			margin-top: 21px;
		}
	}
}

// Arrows Menu
.arrow {
	position: relative;
	&:after,
	&:before {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(136, 183, 213, 0);
		border-width: 10px;
		margin-left: -10px;
	}
	&:before {
		border-color: rgba(194, 225, 245, 0);
		border-width: 13px;
		margin-left: -13px;
	}
}
.arrow-purple {
	&:after,
	&:before {
	border-bottom-color: @purple;
	}
}
.arrow-green {
	&:after,
	&:before {
	border-bottom-color: @green;
	}
}
.arrow-orange {
	&:after,
	&:before {
	border-bottom-color: @orange;
	}
}
.arrow-blue {
	&:after,
	&:before {
	border-bottom-color: @blue;
	}
}
.arrow-red {
	&:after,
	&:before {
	border-bottom-color: #ed2228;
	}
}

.arrow-right {
	position: relative;
	background: #88b7d5;
	border: 1px solid @gray-light;
	&:after,
	&:before {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(136, 183, 213, 0);
		border-left-color: @gray-lighter;
		border-width: 6px;
		margin-top: -6px;
	}
	&:before {
		border-color: rgba(194, 225, 245, 0);
		border-left-color: @gray-light;
		border-width: 10px;
		margin-top: -10px;
	}
}

